/HotelReservationSystem/nbproject/private/
/HotelReservationSystem/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystem/HoRSManagementClient/nbproject/private/
/HotelReservationSystem/HoRSLibrary/nbproject/private/
/HotelReservationSystem/HoRSLibrary/dist/
/HotelReservationSystem/HoRSLibrary/build/
/HotelReservationSystem/HoRSManagementClient/build/
/HotelReservationSystem/build/
/HotelReservationSystem/HotelReservationSystem-ejb/build/
/HotelReservationSystem/HoRSManagementClient/dist/
/HotelReservationSystem/dist/
/HotelReservationSystem/HotelReservationSystem-ejb/dist/
/HotelReservationSystem/HotelReservationSystem-ejb/setup/
/HotelReservationSystem/HoRSReservationClient/nbproject/private/
/HotelReservationSystem/HoRSReservationClient/dist/
/HotelReservationSystem/HoRSReservationClient/build/
/HotelReservationSystem/HolidayClient/nbproject/private/
/HotelReservationSystem/HolidayClient/build
/HotelReservationSystem/HolidayReservationSystem/nbproject/private/
/HotelReservationSystem/HolidayReservationSystem/build/
/HotelReservationSystem/HolidayReservationSystem/dist/