/HotelReservationSystem/nbproject/private/
/HotelReservationSystem/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystem/HoRSManagementClient/nbproject/private/
/HotelReservationSystem/HoRSLibrary/nbproject/private/